.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightblue;
  padding: 10px;
}

.chatHeader__hash {
  color: blue;
  font-size: 30px;
  padding: 10px;
}

.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: cornsilk;
}
